<div class="container">
  <div class="row">
    <div class="col" *ngFor="let contact of contacts">
      <ul>
        <button (click)="delContact(contact)">x</button>
        <img [src]="contact.image" alt="">
        <li>{{contact.name}}</li>
        <li>{{contact.phoneNumber}}</li>
        <li>{{contact.email}}</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <label class="form-label" for="contact-name">Name: </label>
  <input class="form-control" type="text" placeholder="hli" [(ngModel)]="newContact.name">
</div>
<div>
  <label class="form-label" for="contact-email">Email: </label>
  <input class="form-control" type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label class="form-label" for="contact-phone">Phone: </label>
  <input class="form-control" type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label class="form-label" for="contact-image">Image link: </label>
  <input class="form-control" type="url" [(ngModel)]="newContact.image">
</div>
<div>
  <button (click)="addContact()">Submit New Contact</button>
</div>

