<div class="container" >
  <div class="row">
    <div class="col" *ngFor="let contact of contacts">
      <ul>
        <img [src]="contact.image" alt="">
        <li>{{contact.name}}</li>
        <li>{{contact.phoneNumber}}</li>
        <li>{{contact.email}}</li>

      </ul>
    </div>
  </div>
</div>



<div>
  <label for="contact-name">Name: </label>
  <input type="text" placeholder="hli" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email: </label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone: </label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image link: </label>
  <input type="text" [(ngModel)]="newContact.image">
</div>
<button (click)="addContact()">Submit New Contact</button>
