<div class="container">
  <div class="row">
    <div class="col" *ngFor="let contact of contacts">
      <ul>
        <button class="delete-contact" (click)="delContact(contact)">x</button>
        <img [src]="contact.image" alt="">
        <li class="display-6" >{{contact.name}}</li>
        <li>{{contact.phoneNumber}}</li>
        <li>{{contact.email}}</li>
      </ul>
    </div>
    <div *ngIf="!showVar" class="col new-contact-col">
      <button class="display-1 add-new" (click)="toggleChild()">+</button>
    </div>
    <div *ngIf="showVar" class="col new-contact-col">
      <app-new-contact class="contact-component" (newItemEvent)="toggleChild()" [showMePartially]="showVar"></app-new-contact>
    </div>
  </div>
</div>

