img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #a0a0a0;
}

.col {
  background-color: #CBC3E3;
  border-radius: 5px;
  margin: 5px 5px;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 7px #e2c4ce;

  /* #FFE6EE */
}

.col:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #af8090;

  /* #616161 */
}

ul {
  padding: 0 0;
  margin-top: 5%;
  text-align: center;
  list-style-type: none;
  li:first-of-type {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.delete-contact {
  display: block;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: inherit;
  margin-left: 90%;
}

.add-new {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  line-height: 4rem;
}

.new-contact-col {
  background-color: #29b6f6;
}

.contact-component {
  width: 100%;
  height: 100%;
}

col {
  min-width: 200px;
}